import React from "react";
import { Loader } from "react-simple-widgets";

export const LogoutPage = (): any => {
    document.title = "Logout - <%= projectName %>";

    return (
        <div id="logout-page" className="full-window" style={{ paddingTop: "5rem" }}>
            <Loader className="text-center">Logging out...</Loader>
        </div>
    );
};
