import "./index.scss";
import React from "react";

export const HomePage = (): any => {
    document.title = "Home - <%= projectName %>";

    return (
        <div id="home-page">
            <div className="container w-640">
                <h1 className="text-center">
                    Made with <code>mkts</code> with <i className="fa fa-heart" />
                </h1>
            </div>
        </div>
    );
};
