import React from "react";
import { AxiosError } from "axios";

/**
 * Creates a status span from the status given
 * @param status The status to display in the status
 */
export const createStatusSpan = (status: string): any => {
    return <span className={`status-span ${status}`}>{status}</span>;
};

/** Extracts the error message from an AxiosError instance */
export const logError = (err: AxiosError<any>): string => {
    if (!err.response) return err.message;
    return err.response.data.message;
};
